# Pandas

Install Pandas using `pip install pandas` on terminal.

import the library as pd (this is the standard)

In [1]:
import pandas as pd

- reading a csv file

In [2]:
df = pd.read_csv('movies.csv')

df - dataframe is a data structure provided by pandas to store 2d tabels with labels

- Display first five rows

In [4]:
df.head()

df.head(2) # displays the first 2 rows of the DataFrame

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English

- Display last five rows

In [5]:
df.tail() # displays the last 5 rows of the DataFrame

df.tail(3) # displays the last 3 rows of the DataFrame

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
34,Pushpa: The Rise - Part 1,Bollywood,2021,7.6,Mythri Movie Makers,2.0,3.6,Billions,INR,Telugu
35,RRR,Bollywood,2022,8.0,DVV Entertainment,5.5,12.0,Billions,INR,Telugu
36,Baahubali: The Beginning,Bollywood,2015,8.0,Arka Media Works,1.8,6.5,Billions,INR,Telugu

- Display random(sample) rows

In [7]:
df.sample()

df.sample(3) # displays 3 random rows from the DataFrame

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
31,Race 3,Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English

- Get rows and cols (shape)

In [13]:
df.shape # returns the number of rows and columns in the DataFrame as a tuple (rows, columns)

(37, 10)

In [ ]:
df.count() # returns the number of non-null values in each column of the DataFrame

title           37
industry        37
release_year    37
imdb_rating     36
studio          34
budget          37
revenue         37
unit            37
currency        37
language        37
dtype: int64

- find how many different types of industries we have in our movies df

In [10]:
df.industry.unique() # returns the unique values in the 'industry' column of the DataFrame

<StringArray>
['Bollywood', 'Hollywood']
Length: 2, dtype: str

- Find min, max, mean, etc

In [14]:
df.imdb_rating.min() # returns the minimum value in the 'imdb_rating' column of the DataFrame
df.imdb_rating.max() # returns the maximum value in the 'imdb_rating' column of the DataFrame
df.imdb_rating.mean() # returns the mean (average) of the 'imdb_rating' column in the DataFrame
df.imdb_rating.median() # returns the median of the 'imdb_rating' column in the DataFrame

np.float64(8.1)